 #map{
 height: 100% !important;
 width: 100% !important;    
     position: absolute;
 }

html{
  height: 100%;
}
body {
  min-height: 100%;
}

.map .container{

height: 100% !important;
}

 .panel {
    position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

#menu{
  background: rgba(0,40,75,0.95);
  z-index: 40;
    color:white;
}

#menu li {
color:white;
}




.menu-link{
  position: absolute;
  z-index: 100;
  font-size: 35px;
  top: 8px;
  left: 7px;
  color:white;

}

.menu-link-wrap{
  position: absolute;
  left: 15.625em;
  background: rgba(0,40,75,0.95);
  width: 50px;
  height: 50px;
  top: 0px;
}

a, a:focus {
  text-decoration: none;
  outline: 0 !important;
}

#menu-options{}

.sub-menu{
  padding-left: 15px;
/*    width: 209px;*/
  margin-left: -18px;
}

h5{
    font-size: 18px !important;
    padding-left: 16px;
    padding-bottom: 5px !important;
    padding-top:17px !important;
    margin: 0 !important;
}

.sub-menu ul{
    margin: 0 !important;
}

label{
    font-weight: normal !important;
    font-size: 14px;
}

.category{
      margin-left: 29px;
      font-weight: bold;
      font-size: 15px;
      margin-top: 13px;
}
.filter ul {
    padding-left: 38px;
}