/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

body.node-type-basic-page #page{
  border-style: solid;
  border-width: 1px;
  padding: 31px;
  margin-top: 52px;
 background-color: white;
}
body.node-type-basic-page{
background:rgba(0,40,75,0.95);
background:rgb(0,40,75);

}

body.node-type-basic-page h1.page__title {
font-size: 1.5em !important;
}

body.node-type-basic-page a{
text-decoration: none;
}